main {
    background-color: whitesmoke;
    height: 100vh;
    margin: 0;
    display: flex;
}

.contaier {
    margin: 0 auto;
    width: 40vw;
    background-color: white;

    .btn-primary {
        margin-bottom: 50px;
    }

}

.startpageContainer {
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 300px auto;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .marG {
        margin-top: 20px;
    }
}

#dataContainer {
    display: flex;
    justify-content: right;
    align-content: center;
    margin-top: 20px;

    p {
        font-weight: bold;
        margin: 0px;
    }

    #formData {
        border: 1px solid #0d6efd;
        border-radius: 8px;
        margin-left: 15px;
        padding: 2.5px;
    }
}


.childRow {
    background-color: green;
}

.container-lg {
    background-color: whitesmoke;
    border-radius: 8px;
    margin-top: 50px;
    padding: 10px 30px 20px 50px;

    .container-md {

        p {
            margin: 20px;
            display: inline;
            font-weight: bold;
        }

        button{
            height: 40px;
            margin: 0px;
            padding: 0px 10px 0px 10px;
        }

        .container-s {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .button-container {
                display: flex;
                width: 400px;
            }
        }
    }
} 

#filter {
    border: 1px solid #0d6efd;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

.filterContainer {
    padding-bottom: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;

    form {
        margin-right: 50px;
    }
    
    label {
        margin-left: 20px;
    }
}


